//about
$background-image: url('../img/heavy.jpg');

.about-text{
  line-height: 20px;
  font-size: 12px;
  letter-spacing: 1px;
}

.about-pic-container{

  background: $gradient, $solid_color, $background-image center center;
  background-size: cover;
  height: 300px;
}
