//about

.about-text{
  font-style: italic;
  line-height: 27px;
  font-size: 16px
}

.about-pic-container{
  background: url('../img/lake2-retina.jpg') center center;
  background-size: cover;
  height: 266px;
}

