$cyan: rgb(0, 186, 255);
$vermillon: rgb(255, 82, 0);
$white: #fff;
$dark-blue-green: #33494c;
$light-blue-green: rgb(94, 179, 168);
$soft-yellow: #ffe597;

$font-text: 'Roboto', sans-serif;
$font-title: 'Open Sans', sans-serif;
$text-font: 'Open Sans', sans-serif;

html, body, ul{
  margin:0;
  padding:0;
  margin:0;
  font-family: $font-text;
  color:#333;
}

html, body {
  height: 100%;
}

ul {
  list-style-type: none;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
  font-family: $font-title;
  text-transform: uppercase;
}

h2 {
  @media (min-width:1000px) {
    font-size: 34px;
  }
  letter-spacing: 3px;
}

section {
  padding-top: 25px;
  padding-bottom: 80px;
}

.dark {
  background: #000;
  color: #FFF;
}

.container.dark {
  width: 100%;
  h2, .custom-hr {
    margin-left: 4%;
  }
}
