//nav

.nav{
  padding:10px;
  text-align: center;
  margin:20px 0 20px 0;
}

.nav-list{
display:inline-block;
}
.nav-item{
  text-transform: uppercase;
  list-style-type: none;
  letter-spacing: 2px;
  display:inline-block;
  margin-right: 10px;

  a{
    text-decoration: none;
    color:#2D2D2D;
  }
  a:visited{
    color:#999;
  }
}

@media (max-width:750px){
  .nav-item{
    font-size:12px;
  }
}

@media (max-width:321px){
  .nav-item{
    font-size: 10px;
  }
}

.social-link{
  display:block;
  width:40px;
  fill:#2D2D2D;
  transition: 0.1s;
}
.facebook:hover{
  fill:#3b5998;
}
.instagram:hover{
  fill:#3f729b;
}
.soundcloud:hover{
  fill:#ff8800;
}
.youtube:hover{
  fill:#cd201f;
}
//footer
footer{
  font-size: 12px;
  text-align:center;
  margin:10px 0 10px 0;
  padding:10px;
  background: #F0F0F0;
}