// hero
$background-image: '../img/heavy.jpg';
h1 {
  font-size: 4vw;
  color: #fff;
  letter-spacing: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.hero {
  height: 100%;
  width: 100%;
  background-image: url($background-image);
  background-position: center;
  background-size: cover;
}

// Mouse

@-webkit-keyframes scroll-inner
{
    from
    {
        margin-top: 15%;

        opacity: 1;
    }
    to
    {
        margin-top: 75%;

        opacity: 0;
    }
}
@keyframes scroll-inner
{
    from
    {
        margin-top: 15%;

        opacity: 1;
    }
    to
    {
        margin-top: 75%;

        opacity: 0;
    }
}
div.mouse-container
{
    position: absolute;
    bottom: 0;
    left: 50%;

    display: block;

    height: 50px;

    -webkit-transform: translate(-50%, 8px);
            transform: translate(-50%, 8px);
}
div.mouse
{
    position: relative;

    display: block;

    width: 20px;
    height: 30px;
    margin: 0 auto;

    border: solid 1px #fff;
    border-radius: 8px;

    span.scroll-down
    {
        display: block;

        width: 4px;
        height: 4px;
        margin: 15% auto auto;

        -webkit-animation: scroll-inner 1.5s;
                animation: scroll-inner 1.5s;
        -webkit-animation-timing-function: ease;
                animation-timing-function: ease;
        -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;

        border-radius: 50%;
        background: $white;
    }
}
