//newsletter
#newsletter {
  background: #c0c0c0;
  .newsletter-form{
    padding: 51px 21px;
    input {
      text-transform: uppercase;
      background: #c0c0c0;
      color: #FFF;
      border:none;
    }
  }
}
