.shows {
  position: relative;
  overflow: hidden;
  background: $dark-blue-green;

  h2 {
    color: #fff;
  }
  hr {
    border-color: $soft-yellow;
  }
}

.gigs__table {
  width: 100%;
  @media (max-width: 600px) {
    font-size: 12px;
  }
}

.gigs__row {
  width: 100%;
  color: $light-blue-green;
  font-family: $font-title;
}

.gigs__location {
  text-transform: uppercase;
  color: $soft-yellow;
}

@keyframes spin-overlay {
  from {
    transform: translate(-50%, -50%) rotate(0);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
