.concerts {
  position: relative;
  overflow: hidden;
  background: url(../images/grandpalais.jpg), #5ba4ff;
  background-size: cover;
  background-blend-mode: darken;
  color: white;
  background-position: center center;


  hr {
    border-color: $soft-yellow;
  }
}

.gigs__table {
  width: 100%;
  color:white;
  @media (max-width: 600px) {
    font-size: 12px;
  }
}

.gigs__row {
  width: 100%;
}

.gigs__location {
  text-transform: uppercase;
  color: $soft-yellow;
}

@keyframes spin-overlay {
  from {
    transform: translate(-50%, -50%) rotate(0);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
