.concerts {
  position: relative;
  overflow: hidden;
  background: url(../images/grandpalais.jpg), #365986;
  background-size: cover;
  background-blend-mode: darken;
  color: white;
  background-position: center center;
  padding: 10px 20px;
  @media (max-width:400px) {
    padding: 20px 0;
  }
  h2 {
    font-size: 50px;
    letter-spacing: 10px;
    text-align: center;
    margin-bottom: 30px;
  }

  hr {
    border-color: $soft-yellow;
    border-width: 3px;
    margin-bottom: 80px;
    width: 500px;
  }
}

.gigs__table {
  width: 100%;
  color:white;
  @media (max-width: 600px) {
    font-size: 12px;
  }
}

.gigs__row {
  width: 100%;
}

.gigs__location {
  text-transform: uppercase;
  color: $soft-yellow;
}
