.ghost-button {
  border: 2px solid #2d2d2d;
  display:inline-block;
  text-decoration: none;
  padding: 8px;
  letter-spacing: 2px;
  margin-bottom: 14px;
  span {
    color: #2d2d2d;
  }
  transition: 0.2s;
  border-radius: 3px;
  font-size: 12px;
}

.ghost-button:hover {
  background: #2d2d2d;
  span {color: #fff;}
  text-decoration: none;
}

.ghost-button.inverse {
  border-color:white;
  span {
    color:white;
  }
}
.ghost-button.inverse:hover {
  background: #FFF;
  span {color: #2d2d2d;}
  text-decoration: none;
}
