section#about.about.container.container-full
  .row
    .col-md-5.col-md-offset-1
      h2 About
      hr.custom-hr 
      p.about-text
        | Combining analog synths, live winds instruments, sansula and areal delay, Axel Rigaud (a.k.a. Le Tarsier) constructs overwhelming soundscapes in real time, plunging his audiences into a hybrid musical universe where electronic and acoustic mediums mesh as one. 
        | Exploring the very limits of what a single musician can do alone, his aim is make each performance an opportunity for risk by never relying on pre-recorded audio. This approach allows every performance to vary noticeably from one venue to the next.

        a(href='http://www.jazzmagazine.com/index.php/le-jazz-live/1-le-jazz-live/892-concert-electronique-de-salon-chez-axel-rigaud') Concert Review (french)     
      a.ghost-button(href='https://dl.dropboxusercontent.com/u/22402304/Tarsier%20CP%20english.pdf')
        span More Info (EN)    
      a.ghost-button(href='https://dl.dropboxusercontent.com/u/22402304/Tarsier%20CP%20fran%C3%A7ais.pdf')
        span Plus d&apos;infos(FR) 
      a.ghost-button(href='https://dl.dropboxusercontent.com/u/22402304/photopack.zip')
        span Photopack
    .col-md-5
      .about-pic-container
