-
  var gigs = [
    {
      'date': 'December 10 2016',
      'location': 'Paris',
      'description': 'with Elbi @ Supersonic'
    },
    {
      'date': 'December 9 2016',
      'location': 'Paris',
      'description': 'with Gabriel Auguste @ Popup du label'
    },
    {
      'date': 'December 2 2016',
      'location': 'St Ouen',
      'description': 'Euphonia'
    },
    {
      'date': 'December 1 2016',
      'location': 'Goethe Institut, Nancy',
      'description': 'with Demande à la nuit'
    },
    {
      'date': 'November 9 2016',
      'location': 'Tokyo',
      'description': 'Hot Buttered Club'
    },
    {
      'date': 'October 24 2016',
      'location': 'Paris',
      'description': 'Supersonic'
    },
    {
      'date': 'October 5 2016',
      'location': 'Annecy',
      'description': 'with Elbi @ Brise-Glace'
    },
    {
      'date': 'August 6 2016',
      'location': 'Paris',
      'description': 'with Elbi @ Plage Glazart'
    },
    {
      'date': 'July 30 2016',
      'location': 'châlons en champagne',
      'description': 'with John Grape'
    },
    {
      'date': 'July 28 2016',
      'location': 'châlons en champagne',
      'description': 'Public masterclass'
    },
    {
      'date': 'July 28 2016',
      'location': 'châlons en champagne',
      'description': 'with Elbi'
    },
    {
      'date': 'July 24 2016',
      'location': 'Paris',
      'description': 'Petite Halle de la Villette'
    },
    {
      'date': 'July 10 2016',
      'location': 'lyon',
      'description': 'with Anne Laure Jaeglé | Demande à la nuit'
    },
    {
      'date': 'July 9 2016',
      'location': 'lyon',
      'description': 'with Anne Laure Jaeglé | Demande à la nuit'
    },
    {
      'date': 'June 21 2016',
      'location': 'strasbourg',
      'description': 'with Anne Laure Jaeglé | Demande à la nuit'
    },
    {
      'date': 'June 19 2016',
      'location': 'paris',
      'description': 'with Anne Laure Jaeglé | Demande à la nuit'
    },
    {
      'date': 'June 17 2016',
      'location': 'annecy',
      'description': 'with Elbi'
    },
    {
      'date': 'June 9 2016',
      'location': 'paris',
      'description': 'Grand Palais, Monumenta Exhibiton with Interscribo'
    },
    {
      'date': 'May 27 2016',
      'location': 'berlin',
      'description': 'Urban Spree'
    },
    {
      'date': 'April 29 2016',
      'location': 'strasbourg',
      'description': 'Mudd Club'
    },
    {
      'date': 'April 9 2016',
      'location': 'montpellier',
      'description': 'la Gazo'
    },
    {
      'date': 'April 8 2016',
      'location': 'paris',
      'description': 'Demande à la nuit, Paris release party'
    },
    {
      'date': 'March 18 2016',
      'location': 'Brussels',
      'description': 'with Elbi'
    },
    {
      'date': 'March 17 2016',
      'location': 'Brussels',
      'description': 'with Elbi'
    },
    {
      'date': 'March 11 2016',
      'location': 'le perreux sur marne',
      'description': 'with Osiris'
    },
    {
      'date': 'Feb 25 2016',
      'location': 'paris',
      'description': '@ Olympic'
    },
    {
      'date': 'Feb 20 2016',
      'location': 'paris',
      'description': 'with Elbi @ les Nautes'
    },
    {
      'date': 'Dec 18 2015',
      'location': 'paris',
      'description': 'le Petit Bain'
    },
    {
      'date': 'Nov 2015',
      'location': 'paris',
      'description': 'le Détail'
    },
    {
      'date': 'Oct 2015',
      'location': 'paris',
      'description': 'le Zorba'
    },
    {
      'date': 'Sept 2015',
      'location': 'paris',
      'description': 'le Badaboum'
    },
    {
      'date': 'Sept 2015',
      'location': 'paris',
      'description': 'Théâtre de Ménilmontant'
    },
    {
      'date': 'Aug 2015',
      'location': 'paris',
      'description': 'ft. with Villanova @ le Glazart'
    },
    {
      'date': 'July 2015',
      'location': 'paris',
      'description': 'Anticafé du Louvre'
    },
    {
      'date': 'July 2015',
      'location': 'boulogne',
      'description': 'la Passerelle'
    },
    {
      'date': 'Dec 2014',
      'location': 'Saint Brice Courcelle',
      'description': 'ft. Benjamin Moussay at Maison des arts musicaux'
    },
    {
      'date': 'Sept 2014',
      'location': 'paris',
      'description': 'Home concert'
    },
    {
      'date': 'Sept 2013',
      'location': 'berlin',
      'description': 'Menschmeier'
    },
    {
      'date': 'June 2013',
      'location': 'paris',
      'description': 'ft. Straws @ Wanderlust'
    },
    {
      'date': 'June 2013',
      'location': 'Trondheim (Norway)',
      'description': 'Blunk'
    },
    {
      'date': 'April 2013',
      'location': 'Trondheim (Norway)',
      'description': 'Kit Art Gallery'
    }
  ];

section.container.container-full.concerts#concerts
  .row
    .col-md-12.col-md-offset-1
      h2 Concerts
      hr.custom-hr#concerts-hr
  .row
    .col-md-10.col-md-offset-1
      table.gigs__table
        each gig in gigs
          tr.gigs__row
            td
              = gig.date
            td.gigs__location
              = gig.location
            td.gigs__description
              = gig.description
            if gig.link
              td
                = gig.link
