section.container.ep
  h2 The EP
  hr.custom-hr#ep-hr
  .row
    .col-sm-5
      a(href='https://letarsier.bandcamp.com/')
        .artwork-container 
    .col-sm-7
      p
        | This EP has been made between December 2014 and April 2015. Between each tracks you will hear the same crowd sound transitioning from one tune to another. This sound has been recorded in Gare de l&apos;Est (Paris), where I used to wait a lot during the days I started composing this EP.
        | I hope you will enjoy.
      p You can support the project by buying it on Bandcamp or simply sharing it over social networks
      a.ghost-button(href='https://letarsier.bandcamp.com/')
        span Bandcamp     
      a.ghost-button(href='https://soundcloud.com/letarsier/sets/ep-masteris')
        span Soundcloud
