section.hero
  img(src="img/logo.png" class="hero__logo")
  h1
    | Axel Rigaud
  ul.top-nav
    li.top-nav__item
      a(href="#about")
        | about
    li.top-nav__item
      a(href="#concerts")
        | concerts
    li.top-nav__item
      a(href="#follow")
        | follow
  .mouse-container
    .mouse
      span.scroll-down
