section.container.shows.dark
  h2 Shows
  hr.custom-hr.dark
  .owl-carousel
    div
      img(src="img/shows/peniche.jpg")
    div
      img(src="img/shows/lab.jpg")
    div
      img(src="img/shows/labnb.jpg")
    div
      img(src="img/shows/moussay.jpg")
    div
      img(src="img/shows/zorba.jpg")
    div
      img(src="img/shows/anticafe.jpg")
  .row
    a(href="http://www.songkick.com/artists/8634849" class="songkick-widget" data-theme="light" data-track-button="on" data-detect-style="true" data-font-color="#FFF" data-background-color="transparent")
      |Le Tarsier tour dates
