section.container.videos.dark
  h2 Videos
  hr.custom-hr.dark
  #P1.player(style='height:600px', data-property="{videoURL:'http://youtu.be/I2M0UZMi8D8',containment:'self',mute:false,autoPlay:false,loop:false,opacity:.8}")
  .videos-list.row
    .videos-item.col-sm-4.col-xs-6
      figure.video-figure(style="background-image: url('http://img.youtube.com/vi/I2M0UZMi8D8/hqdefault.jpg');")
        figcaption
          a.video-link.youtube(href='http://www.youtube.com/watch?v=I2M0UZMi8D8')   
          div
            h2.video-title
              | Live 
              span anticaf&eacute;  
    .videos-item.col-sm-4.col-xs-6
      figure.video-figure(style="background-image: url('http://img.youtube.com/vi/vbJi8L-MkRg/hqdefault.jpg');")
        figcaption
          a.video-link.youtube(href='http://www.youtube.com/watch?v=vbJi8L-MkRg')           
          div
            h2.video-title Clouds became green
    .videos-item.col-sm-4.col-xs-6
      figure.video-figure(style="background-image: url('http://img.youtube.com/vi/3DkjC_Anyc0/hqdefault.jpg');")
        figcaption
          a.video-link.youtube(href='http://www.youtube.com/watch?v=3DkjC_Anyc0')      
          div
            h2.video-title Emerge
    .videos-item.col-sm-4.col-xs-6
      figure.video-figure(style="background-image: url('http://img.youtube.com/vi/-DCnGMV1ZGQ/hqdefault.jpg');")
        figcaption
          a.video-link.youtube(href='http://www.youtube.com/watch?v=-DCnGMV1ZGQ')      
          div
            h2.video-title Night Howl
